* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.ant-steps-item-title {
  font-family: "Montserrat";
}

.ant-steps-icon {
  height: 48px !important;
  width: 48px !important;
  display: block;
}